/* your styles go here */
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

#myChart {
  width: 100%;
  height: 100%;
  font-family: 'Jeju Gothic';
}

/* .img-responsive {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
} */

.skill {
  text-align: center;
}
.skill img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.skill img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
